@import "../../../../styles/index.scss";

.spaherobanner {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
    ), url(../../../../assets/images/Spa.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
    background-position: center;
    background-size: cover;
    @media (max-width: 901PX) {
        height: 400px;
    }
    @media (max-width: 601PX) {
        height: 300px;
    }
    p{
        @include font16;
        color: var(--theme-white);
        text-align: center;
        @media (max-width: 901PX) {
            font-size: 14px;
        }
        @media (max-width: 601PX) {
            font-size: 12px;
            line-height: normal;
            margin: 0 30px;
        }
        @media (max-width: 401PX) {
            font-size: 10px;
        }

    }
    h1 {
        text-align: center;
        @include font60;
        font-size: 70px;
        color: var(--theme-white);
        margin-bottom: 20px;
        @media (max-width: 901PX) {
            font-size: 50px;
        }
        @media (max-width: 601PX) {
            font-size: 40px;
        }
        @media (max-width: 401PX) {
            font-size: 30px;
        }
    }
}
