@import "../../../styles/index.scss";

h4 {
    @include font16;
    font-size: 14px;
    color: var(--theme-gray);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    @media (max-width: 901px) {
        font-size: 12px;
    }
    @media (max-width: 601px) {
        font-size: 10px;
    }
    @media (max-width: 401px) {
        font-size: 8px;
    }   
}
.blog-details-second {
    margin: 50px 0 100px 0;
    @media (max-width: 901px) {
        margin: 30px 0 50px 0;
    }
    @media (max-width: 601px) {
        margin: 20px 0 30px 0;
    }
    @media (max-width: 401px) {
        margin: 10px 0 20px 0;
    }
    .newsletter-section {
        text-align: left;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        @media (max-width: 901px) {
            grid-template-columns: 1fr;
        }
        @media (max-width: 401px) {
            margin-bottom: 0px;
        }

        h2 {
            @include font55;
            font-size: 50px;
            color: var(--theme-textblack);
            margin: 20px 0;
            font-weight: 100;
            @media (max-width: 901px) {
                font-size: 40px;
            }
            @media (max-width: 601px) {
                font-size: 30px;
            }
            @media (max-width: 401px) {
                font-size: 20px;
            }
        }

        .newsletter-form {
            display: flex;
            flex-direction: column;
            @media (max-width: 901px) {
                font-size: 12px;
            }
            @media (max-width: 601px) {
                font-size: 10px;
            }
            @media (max-width: 401px) {
                font-size: 8px;
            }
            .newsletter-input{
                border-bottom: 1px solid var(--theme-gray) ;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 0;
                margin: 0 0 10px 0;

                input[type="email"] {
                    border: none;
                    font-size: 18px;
                    outline: none;
                    color: var(--theme-textblack);
                    @media (max-width: 901px) {
                        font-size: 12px;
                    }
                    @media (max-width: 601px) {
                        font-size: 10px;
                    }
                    @media (max-width: 401px) {
                        font-size: 8px;
                    }
                    &::placeholder {
                        color: var(--theme-gray);
                    }
                }
                .subscribe-btn{
                    
                    button{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        border: 0;
                        background-color: transparent;
                    }
                }
            }

            .policy-agreement {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                input {
                    margin-right: 10px;
                }

                label {
                    @include font16;
                    color: var(--theme-textblack);
                }
            }
        }
    }

    .images-section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        // @media (max-width: 901px) {
        //     grid-template-columns: repeat(2, 1fr);
        // }
        @media (max-width: 401px) {
            // grid-template-columns: 1fr;
            grid-gap: 10px;
        }
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    .subscribe-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        button{
            padding: 10px 20px;
            background-color: var(--theme-gray);
            color: var(--theme-white);
            border: none;
            cursor: pointer;
            text-transform: uppercase;
            font-size: 16px;
            letter-spacing: 1px;
            transition: background-color 0.3s ease;
            @media (max-width: 901px) {
                font-size: 12px;
            }
            @media (max-width: 601px) {
                font-size: 10px;
            }
            @media (max-width: 401px) {
                font-size: 8px;
            }

            &:hover {
                background-color: var(--theme-hover-color);
            }
        }
    }
}
